/* NAVBAR DESIGN */
/* Trying to prevent the gap of the top div. */
body {
    margin:0;
    padding:0;
}

/* This is the basic designing of the navigation bar. */

.navbar {
    background-color: darkslategray;
    height: 60px;
    box-shadow: 0 3 10px black;
}


.navbar ul {
    list-style-type: none;
    padding: 0; /* Unordered lists have their own padding. */
    margin: 0;
}

.navbarelements li {
    float: left; /* Forces the blocks to float left. */
    height: 60px;
}

.navbar ul li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

/* Styling the hover a bit */

.navbar ul li:hover {
    background-color: rgb(48, 94, 94);
    font-weight: bold;
    transition: 0.5s;
}

/* Creating the new cascading navbar */

#project-list {
    width: 80px;
    transform: translateY(-10000px);
    transition:0.5s;
}

#project-list li {
    /* transform: translateY(-10000px); */
    transition:0.5s;
    background-color: rgb(13, 56, 56);
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
}

#project-tag:hover {
    text-decoration: none;
}

/* Adjusting the logo a bit. */

#logo {
    height:40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display:block;
}



/* ACTUAL PAGE DESIGN */
/* This is the designing of my intro page */

.title {
    padding-left: 10px;
    text-align: center;
}


#introduction-image {
    text-align: center;
}

#introduction-image img {
    outline:auto;
    outline-color: aqua;
    height: 200px;
}

.introduction {
    /* Formatting the div to its surroundings. */
    margin:0 auto;
    padding-top : 0px;
    padding-left: 10px;
    
    /* Formatting an outline. */
    outline: auto;
    outline-color: lightgray;
    outline-width:1px;
    outline-offset: 10px;
    height: fit-content;
    width: fit-content;
}

.introduction-text {
    font-size: large;
    font-family: cursive;
    text-align: center;
}
